@model List<CustomClaims>
<div class="row">
    <div class="col-md-10 mx-auto">
        <table class="table" id="table">
            <tr>
                <td>Type</td>
                <td>Value</td>
            </tr>
            @for (var index = 0; index < Model.Count(); index++)
            {
                <tr data-id="@index">
                    <td>
                        <input type="text"
                               asp-for="@Model[index].Type"
                               class="form-control"
                               id="issuer">
                       
                    </td>
                    <td>
                        <input type="text"
                               asp-for="@Model[index].Value"
                               class="form-control"
                               id="issuer">
                    </td>
                </tr>
            }

        </table>

       

    </div>
</div>

