@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">
            Programmers Calculator is a free calculator for programmers which can be used to convert text to and from Base64 encoding, it can also be used to convert text to binary, generate MD5, SHA1, SHA256 hash values of both text and files and several other useful functions that programmers are in need of during the course of their work. Programmers Calculator is free and very lightweight.
        </p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <google-adsense ad-client="ca-pub-7262226700898423" ad-slot="4896843197"  />